#container{
    width:100%;
    background:#f0f0f0;

}
header img{
    width:100%;
}
.jia{
    width:100%;
    position: relative;
}
 .jia div{
    text-align: center;
     font-size:4rem;
     width:20%;
     margin:3rem auto;

}
.jia img{
     width:8%;
     margin-left:82%;
    position: absolute;

 }

 #three img{
     width:13rem;
     margin-left:2rem;
     float:left;
 }
 #three{
     height:15rem;
     font-size: 3rem;
 }
#div1{
    margin-left:11rem;
    padding-top:1rem;


}
#div2{
    margin-left:13rem;

}
#div3{
margin-right:2rem;
margin-top:4rem;
    float:right;

}
 #four img{
     width:100%;

 }
 #four div{
     font-size: 3rem;
     color:#000000;
 }
 #four p{
     padding:3rem;
 }
 #second{
     width:80%;
     margin:0 auto;
     background:#FFF;
 }
 #five{
     width:80%;
     margin:2rem auto;
     background:#FFF;
     position:relative;
     height:16rem;
 }
 #five img{
     width:20%;
     position:absolute;
     left:2rem;
 }
 #five div{
     font-size: 3rem;
     color:#000000;
     display:inline;
 }
 #aa{
     top:3rem;
     position: absolute;
     right:2rem;
 }
 #bb{
     position:absolute;
     left:15rem;
     top:2rem;
 }
 #cc{
     position:absolute;
     left:16rem;
     top:6rem;
 }

#footer{
    width:100%;
    float:left;
    display:flex;
    position: absolute;
    background:#28314e;
    

}
#footer li{
    width:100%;
    display:inline;
    flex-grow:1;
}
#footer img{
    width:120%;
}

