#container{
    width:100%;
    background:#f0f0f0;
}
header img{
    width:100%;
}
.jia{
    width:100%;
    position: relative;
}
 .jia div{
    text-align: center;
     font-size:4rem;
     width:20%;
     margin:3rem auto;

}
.jia img{
     width:8%;
     margin-left:82%;
    position: absolute;

 }

 #three img{
   width:13rem;
     margin-left:2rem;
     float:left;
 }
 #three{
     height:15rem;
     font-size: 3rem;
 }
#div1{
    margin-left:11rem;
    padding-top:1rem;


}
#div2{
    margin-left:13rem;

}
#div3{
margin-right:2rem;
margin-top:4rem;
    float:right;

}
 #four img{
     width:100%;

 }
 #four div{
     font-size: 3rem;
     color:#000000;
 }
 #four p{
     padding:3rem;
 }
 #second{
     width:80%;
     margin:0 auto;
     background:#FFF;
 }
 #five{
     width:80%;
     margin:2rem auto;
     background:#FFF;
     position:relative;
 }
 #five img{
     width:13rem;
     margin-left:2rem;
     position:absolute;
 }
 #five div{
     font-size: 3rem;
     color:#000000;
 }
#03{
    padding-right: 2rem;
    position:absolute;

}
#02{

    position:absolute;
}
#01{



}
#footer{
    width:100%;
    float:left;
    display:flex;
    position: absolute;
    bottom:0;
    background:#28314e;
}
#footer li{
    width:100%;
    display:inline;
    flex-grow:1;
}
#footer img{
    width:120%;
}

