#container{
    width:100%;
    background:#f0f0f0;
}
header img{
    width:100%;
}
.jia{
    width:100%;
}
 .jia div{
     font-size:5rem;
     width:20%;
     margin:0 auto;
     /*display: inline;*/
}
.jia img{
     width:8%;
     float:right;
     margin-right:8%;
 }
 #mp img{

 }
