<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    用户名：<input type="text" v-model="name">
    <br>
    密码：<input type="password" v-model="pwd">
    <br>
    email:<input type="text" v-model="email">
    <br>
    男 <input type="radio" v-model="sex" value="m">
    女 <input type="radio" v-model="sex" value="w">
    <br>
    <input type="checkbox" v-model="school" value="h">黑大
    <input type="checkbox" v-model="school" value="l">林大
    <input type="checkbox" v-model="school" value="n">农大
    <br>
    <select name="" id="" v-model="sport">
        <option value="篮球">篮球</option>
        <option value="足球">足球</option>
        <option value="乒乓球">乒乓球</option>
    </select>

</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
       el:'#app',
        data:{
           name:'',
            pwd:'',
            email:'',
            sex:'m',
            school:['h','l'],
            sport:'篮球'
        }
    })
</script>
</body>
</html>